@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    scroll-behavior: smooth;
  }
  
  #__next {
    @apply min-h-screen w-full
  }
  
  p {
    @apply text-base
  }
  
}

@layer components {
  
  /*------------------
    Typography
  ----------------- */
  .h1, .h2, .h3 {
    @apply font-serif
  }
  .h1, .h2 {
    @apply font-bold
  }
  
  .h1 {
    @apply text-lg xl:text-xl
  }
  
  .h2 {
    @apply text-lg
  }
  
  .h3 {
    @apply text-md
  }
  
  .body-1 {
    @apply text-base
  }
  
  .body-2 {
    @apply text-sm
  }
  
  .body-1, .body-2 {
    @apply opacity-80
  }
  
  .home-hero {
    @apply flex flex-col gap-6
    sm:grid sm:gap-24 sm:gap-0 sm:grid-rows-home-hero-md sm:grid-cols-home-hero-md
    lg:grid-cols-home-hero lg:grid-rows-home-hero lg:gap-0
  }
  
  .home-hero-text-wrapper {
    @apply flex flex-col gap-6 sm:row-start-2
    sm:col-start-1 sm:col-end-2 sm:row-start-2 sm:bg-white
    lg:col-start-1 lg:col-span-1 lg:row-start-2 lg:row-span-1
  }
  
  /*------------------
    Buttons
  ----------------- */
  
  .btn {
    @apply h-12 uppercase text-xs tracking-wide
    transition-colors duration-300
  }
  
  
  .btn-primary {
    @apply flex justify-center items-center gap-4 w-[12.5rem] bg-dark-blue text-white tracking-wide
    disabled:bg-light-grey disabled:cursor-not-allowed hover:bg-cyan
  }
  
  .btn-primary:hover img {
     @apply brightness-0 invert
  }
  
  .btn-secondary {
    @apply flex justify-center items-center w-44 border border-grayish-dark-blue
    hover:bg-grayish-dark-blue hover:text-white hover:border-grayish-dark-blue
  }
  
  .project-nav-link {
    @apply flex flex-col md:flex-row md:items-center gap-4 md:gap-8 border-t border-b border-grayish-dark-blue border-opacity-20 py-6
  }
  
  /*------------------
    Forms
  ----------------- */
  .form-group {
    @apply flex flex-col gap-2
  }
  
  .form-group label {
    @apply font-bold
  }
  
  .form-control {
    @apply bg-light-grey outline-none border-none pl-4 py-[.5625rem] placeholder-grayish-dark-blue placeholder-opacity-40 focus:outline-cyan
  }
  
  .form-control.error {
    @apply outline-error
  }
  
  .form-error {
    @apply text-bright-red text-xxs italic font-bold -mt-2
  }
  
}

@layer utilities {
  .grow {
    @apply transition duration-300 hover:scale-110
  }
  
  .white-filter {
    @apply brightness-0 invert transition duration-300 hover:filter-none
  }
  
  
  .cyan-filter:hover,
  .white-filter:hover {
    filter: invert(70%) sepia(60%) saturate(284%) hue-rotate(117deg) brightness(83%) contrast(84%);
  }
  
  .border-t-b {
    @apply border-t border-b border-grayish-dark-blue border-opacity-20 py-8
  }
  .section {
    @apply flex flex-col gap-6
    md:flex-none md:grid md:grid-rows-3 md:grid-cols-2 md:gap-y-4 md:gap-x-10
    lg:flex flex-col lg:row-span-3 lg:col-span-1
  }
}
