@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    scroll-behavior: smooth;
  }
  
  #__next {
    @apply min-h-screen
  }
  
  p {
    @apply text-base
  }
  
}

@layer components {
  
  /*------------------
    Typography
  ----------------- */
  .h1, .h2, .h3 {
    @apply font-serif
  }
  .h1, .h2 {
    @apply font-bold
  }
  
  .h1 {
    @apply text-xl
  }
  
  .h2 {
    @apply text-lg
  }
  
  .h3 {
    @apply text-md
  }
  
  .body-1 {
    @apply text-base
  }
  
  .body-2 {
    @apply text-sm
  }
  
  .body-1, .body-2 {
    @apply opacity-80
  }
  
  /*------------------
    Buttons
  ----------------- */
  
  .btn {
    @apply h-12 w-[12.5rem] uppercase text-xs tracking-wide
    transition-colors duration-300
  }
  
  
  .btn-primary {
    @apply flex justify-center items-center gap-4 mt-4 bg-dark-blue text-white tracking-wide
    disabled:bg-light-grey disabled:cursor-not-allowed hover:bg-cyan
  }
  
  .btn-primary:hover img {
     @apply brightness-0 invert
  }
  
  .btn-secondary {
    @apply flex justify-center items-center border border-grayish-dark-blue
    hover:bg-grayish-dark-blue hover:text-white hover:border-grayish-dark-blue
  }
  
  .project-nav-link {
    @apply flex flex-col gap-4 border-t border-b border-grayish-dark-blue border-opacity-20 py-6
  }
  
  /*------------------
    Forms
  ----------------- */
  .form-group {
    @apply flex flex-col gap-2
  }
  
  .form-group label {
    @apply font-bold
  }
  
  .form-control {
    @apply bg-light-grey outline-none border-none pl-4 py-[.5625rem] placeholder-grayish-dark-blue placeholder-opacity-40 focus:outline-cyan
  }
  
  .form-control.error {
    @apply outline-error
  }
  
  .form-error {
    @apply text-bright-red text-xxs italic font-bold -mt-2
  }
}

@layer utilities {
  .grow {
    @apply transition duration-300 hover:scale-110
  }
  
  .white-filter {
    @apply brightness-0 invert transition duration-300
  }
  
  
  .cyan-filter:hover,
  .white-filter:hover {
    filter: invert(66%) sepia(12%) saturate(1223%) hue-rotate(117deg) brightness(95%) contrast(91%);
  }
  
  .section {
    @apply flex flex-col gap-6 border-t border-b border-grayish-dark-blue border-opacity-20 py-8
  }
}
